# PostgreSQL Database Configuration
PGHOST=localhost
PGPORT=5432
PGDATABASE=database_name
PGUSER=postgres
PGPASSWORD=password
# PGSSL=true

# Server Configuration
PORT=3000
NODE_ENV=production

# Application Configuration
SHOP_NAME=Your Shop Name
CURRENCY_SYMBOL=$
RECEIPT_WIDTH=80
JWT_SECRET=940d256178173f0bf0e1a9ee7f74274b052781a89f45b6a8f5ebcd88e8a2bab9
